<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justic</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/contact-us.css">
</head>
<body>
    <div id="navbar-container">
        <div id="navbar">
            <div id="logo">
                <a href="../index.html">Justice <span>.</span></a>
            </div>
             <div id="nav-links">
                <div>
                 <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./practice-area.html">Practice Area</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact-us.html">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h1 class="us">Contact Us</h1>
        </div>
    </div>
    </div>
    <div id="f-container">
    <div id="label">
        <label for="First Name">First Name</label>
        <input type="text">
        <label for="Last Name">Last Name</label>
        <input type="text">
    </div>
    <div id="email">
        <label for="Email Address">Email Address</label>
        <input type="email">
    </div>
    <div id="sms">
        <textarea name="message" id="" cols="120" rows="5"></textarea> <br> <br>
        <button>Send Message</button>
    </div>
   </div>
    </body>