<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justic</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/practice-area.css">
</head>
<body>
    <div id="navbar-container">
        <div id="navbar">
            <div id="logo">
                <a href="../index.html">Justice <span>.</span></a>
            </div>
            <div id="nav-links">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./practice-area.html">Practice Area</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact-us.html">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div id="contact-us-container">
            <h1>Practice</h1>
        </div>
    </div>
   
    <div id="bank-container">
        <div>
            <div id="icon">
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <h4>Banking and Finance Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
        <div>
            <div id="icon">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <h4>Commerical Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
    </div>
    </div>
    </div>
    <div id="bank-container">
        <div>
            <div id="icon">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <h4>Criminal Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
        <div>
            <div id="icon">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <h4>Commerical Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
    </div>
    </div>
    </div>
    <div id="bank-container">
        <div>
            <div id="icon">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <h4>Criminal Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
        <div>
            <div id="icon">
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <h4>Co-operative Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
    </div>
    </div>
    </div>
    <div id="bank-container">
        <div>
            <div id="icon">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <h4>Commerical Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
        <div>
            <div id="icon">
                <i class="fa-solid fa-bag-shopping"></i>
                </div>
            <h4>Banking and Finance Law</h4>
             Far far away, behind the word mountains, far from the countries
        </div>
     </div>
    </div>
    <div>
        <div id="more">
            <h1>More <span>Expertise</span></h1>
        </div>
        <div>
            <div id="services-container">
                <div id="services">
                    <div class="services">
                        <div id="icon-container">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>
                        <p class="services-title">Labor and Employment</p>
                        <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>
                    <div class="services">
                        <div id="arrow">
                            <i class="fa-solid fa-bullseye"></i>
                        </div>
                        <p class="services-title">Corporate & Civil Litigation</p>
                        <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
                        <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>
                    <div class="services">
                        <div id="pin">
                            <i class="fa-regular fa-hand-pointer"></i>
                        </div>
                        <p class="services-title">Intellectual Proerty Law</p>
                        <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    
                        <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>
                    <div class="services">
                        <div id="elephant">
                            <i class="fa-solid fa-chess-rook"></i>
                        </div>
                        <p class="services-title">Criminal Prosecution and Defense</p>
                        <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>
                 </div>
                 <div id="service-contain">
                    <div class="service">
                        <div id="chess">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>
                        <p class="services-title">Labor and Employment</p>
                        <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>
                        <div class="service">
                            <div id="carrom">
                                <i class="fa-solid fa-chess-rook"></i>
                            </div>
                            <p class="services-title">Criminal Prosecution and Defense</p>
                            <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                        </div>
                            
                            <div class="service">
                                <div id="right">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </div>
                                <p class="services-title">Labor and Employment</p>
                                <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                            </div>
                                <div class="service">
                                    <div id="left">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </div>
                                    <p class="services-title">Labor and Employment</p>
                                    <p class="services-discription">Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    <p>Learn more <a href="<"i class="fa-solid fa-arrow-right"></i></a></p>
                                </div>
            </div>
                </div>
                <div id="call-us-now">
                    <h4>Let's get started. Call us Now for a Free Consultation</h4>
                    <button>CALL US NOW </button>
        
                </div>
                
                <div id="footer">
                    <div id="list-container">
                        <ul>
                            <li><h3>Home</h3></li>
                            <li>About us</li>
                            <li>Practice </li>
                            <li>Services</li>
                            <li>Terms</li>
                            <li>Privacy</li>
                        </ul>
                        <ul>
                            <li><h3>Practice Area</h3></li>
                            <li>About us</li>
                            <li>Practice </li>
                            <li>Services</li>
                            <li>Terms</li>
                            <li>Privacy</li>
                        </ul>
                        <ul>
                            <li><h3> Services</h3></li>
                            <li>Banking Law</li>
                            <li>Commercial Law</li>
                            <li>Corporate</li>
                            <li>Family Law</li>
                            <li>Media Law</li>
                        </ul>
                        <ul>
                            <li><h3>Contact us</h3></li>
                             <li>Frontend Developer</li>
                            <li>bhargavadulapuram98@gmail.com</li>
                            <li>7396242454</li>
                            <li>Hyderabad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/30b83dab36.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/30b83dab36.js" crossorigin="anonymous"></script>
    </body>