<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="../styles/book.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <navbar>
        <div id="top">
        <ul>
            <li>About</li> 
            /
            <li>Login</li>
            / 
            <li>Register</li> 
        </ul>
        <div class="icon">
            <i class="fab fa-facebook-f"></i></a>
            <i class="fab fa-twitter"></i></a>
            <i class="fab fa-instagram"></i></a>
            <i class="fab fa-linkedin-in"></i></a>
        </div>
        </div>
        </navbar>
        <nav id="container">
            <a href="home">HOME</a>
            <a href="pixelandhisfriends">PIXEL AND HIS FRIENDS</a>
            <a href="pixelsadventure">PIXELS ADVENTURE</a>
            <a href="pixelbigdiscovery"> PIXEL BIG DISCOVERY</a>
            <a href="contactus">CONTACT US</a>
        </nav>
        <h1> The Adventures of Pixel<span style="color: crimson;">.</span></h1>
    </header>
    <main>
            <article class="box1">
        <div class="pixel">
            <img src="https://m.media-amazon.com/images/I/71DTvBdzm1L._SL1500_.jpg" width="750px" height="400px">
        </div>
        <h2>Pixel with his friends</h2>
        <div class="friends">
                        <img src="https://ik.imagekit.io/storybird/images/dd38aa51-a42d-4e86-99d8-a44c998e2040/5_823793838.webp" width="200px" height="200px">
        <p> pixel and friends stumble upon an ancient treasure map  Pixel and Patch gather a group of friends to embark on an exciting adventure. Together, they overcome challenges, solve puzzles, and learn the true value of friendship.</p>
        </div>
        </article>
        <article class="box2">
            <div class="big">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2ihfG54Rto9B-cI1Hs-1N5BzR0pjEzEeHmQ&s" alt="">
             <p>Pixel's Big Discovery" is a whimsical tale set in the colorful town of Technoville. The story follows Pixel, a curious and clever robot, and his best friend Patch, a wise and adventurous fox</p>
            </div>
            <h2>Pixel big discovery</h2>
        </article>
        <article class="box3">
            <div class="adv">
                <img src="https://ik.imagekit.io/storybird/images/b0f20306-0833-4937-85e0-c8752f7b19ff/8_498968014.webp" width="195px" height="250px" alt="">
                <p> The chapter ends with the group discovering a hidden treasure in an ancient temple, realizing that the real treasure lies in the bonds they have formed and the lessons they have learned. With their hearts full of joy and anticipation, Pixel and his friends return to Technoville, eager for the next adventure that awaits them.</p>
            </div>
            <h2 class="pd">Pixel Adventure</h2>
        </article>
        <br><br><br><br><br><br>
        <article class="box4">
         <div class="war">
            <img src="https://cdn2.unrealengine.com/egs-legohorizonadventures-guerrillastudiogobo-g1a-00-1920x1080-b61b49f1f2f7.jpg" width="50%" alt="">
            <div id="wo">
            <h4><span style="font-size: 150px;">w</span>ohoo!!</h4>
        </div>
        </div>
         </article>
         <article>
            <div class="c">
                <img src="https://img.freepik.com/premium-photo/robots-couch-red-room_862994-923.jpg" width="1000px">
                
                <h4 class="fr" style="font-style: italic;">Friends</h4>
            </div>
         </article>
        
    </main>
    <footer>
        <h4 style="color:rgb(16, 230, 230); font-style: italic;">Lavish Book shop</h4>
        <a href="contactus">Contact Us</a>
        <a href="https://www.google.com/maps/place/Kukatpally/@17.4809431,78.3955979,15z/data=!4m9!1m2!2m1!1sadventure+pixel+big+discovery!3m5!1s0x3bcb91bc428b7359:0x4d00b34fcd26fcf!8m2!3d17.4851155!4d78.4115577!16s%2Fg%2F1yg4v8_1n?entry=ttu&g_ep=EgoyMDI0MDgyNi4wIKXMDSoASAFQAw%3D%3D">Map</a>
        <a href="https://accounts.google.com/v3/signin/identifier?hl=en-GB&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&ec=GAlAFw&authuser=0&ddm=0&flowName=GlifWebSignIn&flowEntry=AddSession">bhargavadulapuram98@gmail.com</a>
        <a href="https://www.amazon.in/Adventures-Pixel-Pixels-Big-Discovery-ebook/dp/B0C5S32LFH">website</a>
    </footer>
</body>
</html>