body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar-container{
    background-color: hsl(240, 67%, 80%);
    color: #fff;
    padding: 20px 80px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo a{
    color: black;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;

}
#nav-links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
#nav-links a{
    text-decoration: none;
    padding:25px;
    color: #0e0505;
 }
 #heading {
    margin-left: 500px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
 }
 #F1{
    text-align: center;
    margin-top: 40px;
 }

 #Submit{
    margin-top: 10px;
    margin-left: 770px;
 }

 ul{
    display: flex;
    justify-content: space-between;
 }
 h4{
    text-align: center;
    font-size: 10px;
    margin-left: 100px;
    margin-top: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size:24px ;
    margin-left: 55px;
}
span{
    font-style: italic;
    color: rgb(219, 238, 248);
}