body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    display: block;
}

.login-container h2 {
    color: #333;
    justify-content: flex-start;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.password-container {
    position: relative;
    width: 100%;
    display: inline-block;
}

.eye-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
 #new button {
    background-color: rgb(255,216,20);
    border-radius: 15px;
    width: 300px;
    height: 30px;
    border-style: none;
}
h5 {
    font-style: normal;
    font-weight: lighter;
}
 h5 span {
    color: blue;
}
h4 {
    color: blue;
    text-align: left;
    font-size: 12px;
    font-weight: lighter;
}
span {
    color: blue;
    text-align: left;
    font-size: 12px;
    font-weight: lighter;
}
#foot p {
    font-weight: bold;
    font-size: 12px;
}
#foot {
    text-align: start;
    line-height: 20px;
}
.new button {
    border-style: none;
    width: 300px;
    height: 30px;
    border-style: none;
}
p {
    font-weight: lighter;
    font-size: 8px;
}
#amz {
    margin-top: -33rem;
    display: flex;

}
#amz p{
    font-size: 28px;
}
.breck p{
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}
.breck::before,.breck::after{
    content: "";
    position: relative;
    top: 5px;
    display: inline-block;
    width: 120px;
    border-top: 1px solid #e7e7e7;
}
.new:hover{
    background-color: #333;
    
}