
body {
  background-color:#000;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 20rem;
  margin-left: 43rem;
}
#otp-container {
  background-color: #1a1820;
  width: min(37.5em, 90%);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.5em;

}
#otp-title {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}
#otp-button {
  font-size: 1em;
  background-color: #1b76f2;
  display: block;
  margin: 2em auto;
  padding: 1em;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.3em;
  cursor: pointer;
}
#otp-display {
  font-size: 1em;
  background-color: #2a292e;
  color: #ffffff;
  letter-spacing: 1em;
  text-align: center;
  padding: 1em 0;
}
#nav {
    align-content: center;
}