<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmzie</title> 
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head> 
<body>
    <header>
        <h1>Filmzie <span style="font-size: 45px;">movies...</span></h1>
        <nav>
            <ul>
                <li><a href="#new-releases">New Releases</a></li>
                <li><a href="#most-popular">Most Popular</a></li>
                <li><a href="#all-movies">All Movies</a></li>                    
                <li><a href="#shows">Shows</a></li>
                <li><a href="#watch for free" style="border: solid black 3px; background-color: black; border-radius: 15px; padding: 6px;">Watch for free</a></li>
            </ul>
    </nav>
        <div class="viraj" style="margin-left: 600px;">
        <img src="https://image-resizer-cloud-api.akamaized.net/image/F355175F-1AC7-4565-82C2-C730F630AEFA/0-3x1.jpg?width=2310&updatedTime=2024-08-24T12:07:09Z&dt=Web" alt="">
        </div>
    </header>
       <main>
        <div id="container">
            <div class="dj">
                <img src="https://image-resizer-cloud-api.akamaized.net/image/A2D5FA05-208D-45CC-9394-7AA4BEA8ED8F/0-2x3.jpg?width=305&updatedTime=2024-06-28T02:58:33Z&dt=Web">
                <figcaption>DJ Tillu</figcaption>
                <p style="color: azure;">DJ Tillu is a wild local DJ who lives life to the fullest. <br> Tillu lives under false prestige, <br>hoping to be a successful DJ one day, despite his father's <br> opposition to his profession. He meets Radhika one day  <br>and instantly falls in love with her. But, much <br> to Tillu's surprise, Radhika drags him into a mess. <br> The rest of the story is about <br>how DJ Tillu manages to get out of this huge mess.</p>
            </div>
            <div class="vk">
                <img src="https://image-resizer-cloud-api.akamaized.net/image/B51E4D07-4B14-4873-ABA4-9B65C7D006CB/0-2x3.jpg?width=305&updatedTime=2024-06-28T01:47:15Z&dt=Web">
                <figcaption>Venky</figcaption>
                <p style="color: azure;">As Venky And His Friends Embark On <br>A Journey To Join The Police Academy , <br>Sudden Turn Of Events Leaves Them <br> As Suspects For Double Murder. On The Way <br> To Find The Real Killer ,<br> They Learn Of Some Astonishing Facts</p>
            </div>
            <div class="epc">
                <img src="https://image-resizer-cloud-api.akamaized.net/image/8F941EB2-E379-4FC9-AD31-6F6FAD74E835/0-2x3.jpg?width=305&updatedTime=2024-08-24T11:24:33Z&dt=Web">
                <figcaption>Ekkadiki Pothavu Chinnavada</figcaption>
                <p style="color: azure;">A female ghost fell in love with a boy and what followed <br> is a funny but emotional journey of true love</p>           
            </div>
            <div class="eg">
                <img src="https://image-resizer-cloud-api.akamaized.net/image/3DB2AB21-F910-417D-88E3-6EE7D6AF8858/0-2x3.jpg?width=305&updatedTime=2024-08-24T12:04:45Z&dt=Web">
                <figcaption>Eagle</figcaption>
                <p style="color: azure;">Sahadev Varma, also known as Eagle, is a notorious assassin! <br> He is on a mission to expose the illegal arms trade. <br> He disguises himself as a cotton farmer in <br> Talakona to intercept all illicit arms transactions. <br> Will he be able to finish this mission? <br>Watch the action drama of 'Mass Maharaja Ravi Teja.'</p>                
            </div>
            <div class="hh">
                <img src="https://image-resizer-cloud-api.akamaized.net/image/BD3B8A3F-CCAA-4B4E-88D9-A7369D7BAE40/0-2x3.jpg?width=305&updatedTime=2024-08-03T10:27:25Z&dt=Web">
                <figcaption>Harom Hara</figcaption>
                <p style="color: azure;">Watch and enjoy the trailer of 'Harom Hara'</p>              
            </div>
       </main>
      <footer>
        <h4 style="font-size: 26px; text-align: center;">&copy; All Rights Reserved...</h4>
        <section class="icon">
            <i class="fab fa-facebook-f"></i></a>
            <i class="fab fa-twitter"></i></a>
            <i class="fab fa-instagram"></i></a>
            <i class="fab fa-linkedin-in"></i></a>
        </section>
      </footer>
</body>
</html>