body{
    background-color: whitesmoke;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size:24px ;
    margin-left: 900px;
    margin-top: -36px;

    
}
#container{
    display: flex;
    gap: 10px;
    border: solid white 2px;
    background-color: white;
    margin-top: 20px;
    text-shadow: 111px;
    overflow: hidden;
    
}
a{
    position: static;
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 110px;
    color: black;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 6px;
}
h1{
    font-style: italic;
    text-align: center;
    font-size: 50px;
}
.pixel{
    display: inline;
    margin-left: 250px;
}
.friends{
    width: 460px;
    margin-left: 150px;
    display: flex;
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    background-color: skyblue;
    position: absolute;
    
}
p{
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
h2{
    margin-left: 370px;
    margin-bottom: -10px;
    font-family: monospace;
}
.big{
        width: 460px;
        margin-left: 150px;
        display: flex;
        margin-top: 20px;
        border: 2px solid black;
        padding: 10px;
        border-radius: 30px;
        background-color: #4da0a0;
        position: relative;
}
.box2{
    margin-left: 530px;
    margin-top: -130px;
}
.box3{
    margin-left: 530px;
    margin-top: -130px;
}
.adv{
    width: 460px;
    margin-left: 150px;
    display: flex;
    margin-top: 190px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    background-color: hsl(269, 90%, 77%);
    position: relative;
}
