body {
    background-color: black;
    font-style: italic;
    color: darkgray;
    width: fit-content;
    border: solid seashell 2px;
    padding: 25px;
}
ol {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-left: 30px;
  margin-top: 15px;
  color: darkgray;
}

h1 {
  display: flex;
  justify-content: center;
  color: floralwhite;
}

h2,
h3 {
  color: floralwhite;
}
footer {
  background-color: #333;
  color: floralwhite;
  padding: 1px;
  text-align: center;
  border: solid white 1px;
  border-radius: 45px;
}
p {
  border: solid whitesmoke 2px;
  width: 440px;
  padding: 20px;
}
main p::first-letter {
  font-size: 200%;
  color:black;
}
div{
    display: flex;
}
aside{
    margin-top: 160px;
    margin-left: 65px;
    font-size: 28px;
}
.icon :hover{
color: cadetblue;
}