#top{

}
.icon{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size:24px ;
    margin-left: 900px;
    margin-top: -36px;
}
#container {
        display: flex;
        gap: 10px;
        border: solid white 2px;
        background-color: white;
        margin-top: 20px;
        text-shadow: 111px;
        overflow: hidden;
}
a{
    position: static;
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 110px;
    color: black;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 6px;
}