<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tito's Night Life</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
          background-image: url('https://wallpapercave.com/wp/wp8930689.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
          display: block;
        }
        header{
            font-style: italic;
            text-align: center;
        }
        h1{
            font-size: 570%;
        }

        .container{
            margin-left: 980px;
            margin-top: 70px;
        }
        </style>
</head>
 <body>
    <header>
        <h1 style="color: rgb(240, 168, 12);">Tito's</h1> <br>
        <h4 style="color: rgb(162, 156, 158);">Make a Splash with Our Monsoon Discounts! Register for SPECIAL OFFER and get 15% DISCOUNT</h4><br><br><br>
        <h2 style="color: black;">The Ultimate Nightlife Experience</h2>
    </header>
    <main class="container">
        <div class="row">
        <div class="col md">
            <a href="../views/register.html"><button type="submit" class="bg-warning" style="color:black">Book Now</button></a>
        </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>