<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?cs=srgb&dl=pexels-teddy-2263436.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tito's</h5>
          <p class="card-text">Tito's hosts various theme-based nights like Bollywood Vintage Night, Ladies Night and Karaoke Night. Stag entry to this Club will cost you around INR 2000 while couple entry is cheaper, INR 1500. Although the price varies depending on the night you visit.</p>
        </div>
      </div>
      <br><br><br>
 <footer>
    <h6>All Copyrights Reserved.Developed by <span>Bhargav Adulapuram</span></h6>
    <div class="icon">
        <i class="fab fa-facebook-f"></i></a>
        <i class="fab fa-twitter"></i></a>
        <i class="fab fa-instagram"></i></a>
        <i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>