<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopEase</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="navbar-container">
        <div id="navbar">
            <div id="logo">
                <a href="../index.html">ShopEase</a>
            </div>
            <div id="nav-links">
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./products.html">Products</a></li>
                    <li><a href="./career.html">Career</a></li>
                    <li><a href="./account.html">Account</a></li>
                    <li><a href="./about.html">About</a></li>
                </ul>
            </div> 
        </div>
    </div>
    <div id="heading">
        <h1> Product Feedback</h1>
            <form>
                <label for="product-select">Choose a product:</label>
                <select id="product-select" name="product">
                    <option value="">--Please choose an option--</option>
                    <option value="product1">Hp</option>
                    <option value="product2">Lenovo</option>
                    <option value="product3">Macbook</option>
                    <option value="product4">Asus</option>
                </select>
                        <p>Rating:</p>
                <label>
                    <input type="radio" name="rating" value="1"> 
                    <input type="radio" name="rating" value="2">
                    <input type="radio" name="rating" value="3">
                    <input type="radio" name="rating" value="4">
                    <input type="radio" name="rating" value="5">
                </label> 
    </div>
    <div id="F1">      
                <label for="feedback">Your feedback:</label>
                <textarea id="feedback" name="feedback" rows="6" cols="90"></textarea>
    </div>
        <div id="Submit">
                <input type="submit" value="Submit" style="color: blue;">
        </div>
            </form>         
    </div> 
    <br>
            <footer>
                <h4>All Copyrights Reserved.Developed by <span>Bhargav Adulapuram</span></h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i></a>
                    <i class="fab fa-twitter"></i></a>
                    <i class="fab fa-instagram"></i></a>
                    <i class="fab fa-linkedin-in"></i></a>
                </div>
            </footer>
        </body>
        </html>
</body>
</html>