<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="navbar-container">
        <div id="navbar">
            <div id="logo">
                <a href="../index.html">ShopoEase</a>
            </div>
            <div id="nav-links">
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./products.html">Products</a></li>
                    <li><a href="./career.html">Career</a></li>
                    <li><a href="./account.html">Account</a></li>
                    <li><a href="./about.html">About</a></li>
                </ul>
            </div>
</body>
</html>