body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    border-radius: 18px;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 3px;
    border-radius: 2px;
    font-size: 16px;
}

