#container {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border: 3px solid #ddd;
    padding: 15px;  
    margin: 5px;
    background-color: rgba(220, 218, 218, 0.967);
}
.nav{
    justify-content: center;
    margin-left: 800px;
    position: absolute;
    top: 100px;
    left: 984px;
}
.hp{
    border: 1px solid #ddd;
    padding: 10px;  
    margin: 10px;
    background-color: white;
}

.lenovo{
    border: 1px solid #ddd;
    padding: 10px;  
    margin: 10px;
    background-color: white;
}

.mac{
    border: 1px solid #ddd;
    padding: 10px;  
    margin: 10px;
    background-color: white;
}

.asus{
    border: 1px solid #ddd;
    padding: 10px;  
    margin: 10px;
    background-color: white;
}

span{
    font-weight: bold;
    color: blueviolet;
}

.add{
    text-align: center;
    margin-top: 35px;
    border-radius: 10px;
}

.add1{
    text-align: center;
    margin-top: 35px;
}

.add2{
    text-align: center;
    margin-top: 35px;
    
}

.add3{
    text-align: center;
    margin-top: 35px;
}

.price1 {
    margin-top: 20px;
    font-weight: bold;
}

.price2 {
    margin-top: 25px;
    font-weight: bold;
}
.price3 {
    margin-top: 30px;
    font-weight: bold;
}
.price4 {
    margin-top: 30px;
    font-weight: bold;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size:24px ;
    margin-left: 55px;
}
h5{
    text-align: center;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 50px;
}