<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <img src="https://theartarium.com/cdn/shop/articles/12_Jyotirlingas_of_India_1200x630_crop_center.jpg?v=1714453961" width="80%">
        <navbar>
            <div id="top">
            <ul>
                <li>Login</li>
                / 
                <li>Register</li> 
                /
                <li>Booking</li>
            </ul>
            <div class="icon">
                <i class="fab fa-facebook-f"></i></a>
                <i class="fab fa-twitter"></i></a>
                <i class="fab fa-instagram"></i></a>
                <i class="fab fa-linkedin-in"></i></a>
            </div>
            </div>
            </navbar>
            <nav id="container">
                <a href="home">HOME</a>
                <a href="pixelandhisfriends">PIXEL AND HIS FRIENDS</a>
                <a href="pixelsadventure">PIXELS ADVENTURE</a>
                <a href="pixelbigdiscovery"> PIXEL BIG DISCOVERY</a>
                <a href="contactus">CONTACT US</a>
            </nav>
 
    </header>
 <main>
    <div>
        <article>

        </article>
    </div>
 </main>
</body>
</html>