
#f-container {
    background-color:rgb(45,45,52);
    margin-top: 115px;
    justify-content: space-between;
    line-height: 80px;
    margin-top: 0px;
}
#label {
    justify-content: center;
    display: flex;
}
#email {
    justify-content: center;
    display: flex;
}
#sms {
    justify-content: center;
    display: block;
    align-items: center;
    padding-left: 200px;
}
  

