body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar-container{
    background-color: rgb(45,45,52);
    color: #fff;
    padding: 20px 80px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
#nav-links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
#nav-links a{
    text-decoration: none;
    padding: 0px 25px;
    color: #fff;
}
#contact-us-container {
    text-align: center;
    margin-top: 5rem;
 }
 #contact-us-container h1{
    font-size: 50px;

 }
 li :hover{
    background-color: #000;
    padding: 3%;
    border-radius: 30%;
    color: darkgrey;
 }
 