body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar-container{
    background-color: rgb(45,45,52);
    color: #fff;
    padding: 20px 80px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
#nav-links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
#nav-links a{
    text-decoration: none;
    padding: 0px 25px;
    color: #fff;
}
#contact-us-container {
    text-align: center;
    margin-top: 5rem;
 }
 #contact-us-container h1{
    font-size: 50px;
 }
 #bank-container {
    background-color: rgb(55,55,63);
    color: #fff;
    display: flex;
    justify-content: space-around;
    line-height: 2px;
    padding: 50px;
 }
 #icon {
    background-color:rgb(95,95,101);
    color: #fff;
    width: 8%;
    text-align: center;
    border-radius:50%;
    padding: 13px; 
    line-height: 10px;
 }
 #bank-container h4 {
         color:rgb(180,156,115) ;
 }
 #services-container {
    background-color: rgb(55,55,63);
    color: #fff;
}
#services {
    display: flex;
    padding: 120px 80px;
}
.services {
    margin: 0px 10px;
    padding: 20px;
    width: 45%;
    background-color: #fff;
    color: #000;
}
#service-contain {
    display: flex;
    padding: 40px 80px;
}
.service {
    margin: 0px 10px;
    padding: 20px;
    width: 45%;
    background-color: #fff;
    color: #000;
}
#icon-container{
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}
#arrow {
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}
#pin {
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}
#elephant {
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}

#chess {
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}

#carrom {
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}

#right {
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}

#left {
    background-color:rgb(180,156,115);
    color: #fff;
    width: 10%;
    text-align: center;
    border-radius:50%;
    padding: 15px; 
}
.services-title {
color:rgb(180,156,115);
}
.services-discription {
    font-size: 13px;
    color: #000;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 15px;
}
#call-us-now {
    margin: 80px;
    background-image: url(../assets/hero_bg.jpg.webp);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 80px;
    text-align: center ;
    background-color: rgb(55,55,63);
}
#call-us-now button{
    background-color: rgb(185,163,125);
    color: #fff;
    padding: 15px 30px;
    border-radius: 40px;
    text-align: center;
    border: #000;
}
#list-container {
    display: flex;
    background-color: rgb(55,55,63);
    justify-content: space-around;
    padding: 60px 80px;
    margin: 30px 40px;
}
#list-container li {
    color:  #eec681;
    list-style: none;
    line-height: 35px;
}
#list-container h3{
    color: #fff;
    margin-top: 55px;
}
#more span {
    color:rgb(180,156,115) ;
}
#more {
    background-color: rgb(55,55,63);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}